<section class="order-cloud top-banner">
    <div class="row">
        <div class="col-xs-12 col-md-3">
    	    <img class="company-logo pull-left img-responsive visible-lg" src="http://logon.prograde.com/JohnsManville/Site/Assets/JohnsManvilleLogo.png">
    	    <img class="company-logo img-center img-responsive hidden-lg" src="http://logon.prograde.com/JohnsManville/Site/Assets/JohnsManvilleLogo.png">
    	</div>
    	<div class="col-xs-12 col-md-9">
			<div class="row">
				<div class="col-xs-12">
					<h3 class="pull-right hidden-sm hidden-xs"><i>Durable, Lightweight, Waterproof Tile Backer Board</i><a class="signin-icon" href="login"><i class="fa fa-user" /> Sign In</a></h3>
					<h3 class="text-center hidden-md hidden-lg"><i class="hidden-xs">Durable, Lightweight, Waterproof Tile Backer Board</i><a class="signin-icon" href="login"><i class="fa fa-user" /> Sign In</a></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<a style="text-decoration:none;" class="forgot-password pull-right visible-lg" href="http://ordercloudapps.com/JohnsManville/creditapplication.htm" target="_blank"><small>New Customer Request Form</small></a>
                    <a style="text-decoration:none;" class="forgot-password text-center full-width hidden-lg" href="http://ordercloudapps.com/JohnsManville/creditapplication.htm" target="_blank"><small>New Customer Request Form</small></a>
				</div>
				<div class="col-xs-12">
					<a style="text-decoration:none;" class="forgot-password pull-right visible-lg" href="http://prowebservicehost.com/sites/johns%20manville/documents/GB-036_siteHOWtoGUIDE_032116.pdf" target="_blank"><small>How To Guide</small></a>
                    <a style="text-decoration:none;" class="forgot-password text-center full-width hidden-lg" href="http://prowebservicehost.com/sites/johns%20manville/documents/GB-036_siteHOWtoGUIDE_032116.pdf" target="_blank"><small>How To Guide</small></a>
				</div>
			</div>
    	</div>
    </div>
</section>
<section class="login-image">
        <img class="img-responsive" src="https://prowebservicehost.com/sites/johns%20manville/images/landing.jpg" >
        <div class="order-cloud row vertical-center get-started" ng-init="calcHeight()" ng-style="{'top': top}">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" style="text-align:center;">
                <a href="login" class="btn btn-large btn-landing">
                    <p class="vertical-center">
                        <span>Get Started <i class="fa fa-chevron-right" /></span>
                    </p>
                </a>
            </div>
        </div>
</section>
<section>
    <br />
	<h1 class="text-center eighty-grey"><i>Innovative Tile Backer Board</i></h1>
	<br /><br />
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<img class="img-responsive img-center" src="http://logon.prograde.com/JohnsManville/Site/Assets/feather-light.png" alt="Feather Light">
			<br /><p class="text-center eighty-grey"><strong>GoBoard is up to 80% lighter<br />than cement boards</strong></p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<img class="img-responsive img-center" src="http://logon.prograde.com/JohnsManville/Site/Assets/knife-easycut.png" alt="Feather Light">
			<br /><p class="text-center eighty-grey"><strong>GoBoard is easy to cut,<br />handle and install</strong></p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<img class="img-responsive img-center" src="http://logon.prograde.com/JohnsManville/Site/Assets/waterproof.png" alt="Feather Light">
			<br /><p class="text-center eighty-grey"><strong>GoBoard is inherently<br />waterproof</strong></p>
		</div>
	</div>
	<br />
</section>
<br />
<section class="text-center">
    <iframe class="youtube-video" src="https://www.youtube.com/embed/GyuPeCC8yXI" frameborder="0" allowfullscreen></iframe>
</section