<div class="451qa_prod_item row">
    <div class="col-xs-12 text-left">
        <a href="product/{{LineItem.Product.InteropID}}" ng-hide="LineItem.Product.StaticSpecGroups['External Link'].Specs.Link.Value">
            <figure class="product-figure" ng-show="LineItem.Product.LargeImageUrl" >
                <img id="productImage" ng-src="{{LineItem.Product.LargeImageUrl}}"/>
            </figure>
            <div class="empty" ng-hide="LineItem.Product.LargeImageUrl">
                <span class="fa empty"><i class="fa fa-camera"></i></span>
            </div>
        </a>
        <a href="{{LineItem.Product.StaticSpecGroups['External Link'].Specs.Link.Value}}" target="_blank" ng-show="LineItem.Product.StaticSpecGroups['External Link'].Specs.Link.Value">
            <figure class="product-figure" ng-show="LineItem.Product.LargeImageUrl" >
                <img id="productImage" ng-src="{{LineItem.Product.LargeImageUrl}}"/>
            </figure>
            <div class="empty" ng-hide="LineItem.Product.LargeImageUrl">
                <span class="fa empty"><i class="fa fa-camera"></i></span>
            </div>
        </a>
    </div>
    <div class="col-xs-12 text-left product-info-box">
        <div class="panel-body product-panel-body">
            <a href="product/{{LineItem.Product.InteropID}}" ng-hide="LineItem.Product.StaticSpecGroups.File.Specs.Download.FileURL || LineItem.Product.StaticSpecGroups['External Link'].Specs.Link.Value">
                <p><strong>{{LineItem.Product.Name}}</strong></p>
                <p ng-hide="LineItem.PriceSchedule.PriceBreaks[0].Price == 0"><strong>${{LineItem.PriceSchedule.PriceBreaks[0].Price.toFixed(2)}}</strong></p>
        	    <p class="underlined">View Product</p>
            </a>
            <a href="{{LineItem.Product.StaticSpecGroups.File.Specs.Download.FileURL}}" ng-show="LineItem.Product.StaticSpecGroups.File.Specs.Download.FileURL">
                <p><strong>{{LineItem.Product.Name}}</strong></p>
                <p ng-hide="LineItem.PriceSchedule.PriceBreaks[0].Price == 0"><strong>${{LineItem.PriceSchedule.PriceBreaks[0].Price.toFixed(2)}}</strong></p>
        	    <p class="underlined">Download Product</p>
            </a>
            <a href="{{LineItem.Product.StaticSpecGroups['External Link'].Specs.Link.Value}}" target="_blank" ng-show="LineItem.Product.StaticSpecGroups['External Link'].Specs.Link.Value">
                <p><strong>{{LineItem.Product.Name}}</strong></p>
        	    <p class="underlined">View Form</p>
            </a>
        </div>
    </div>
</div>